/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container section:first-child {
  background-color: #000000;
}
.navbar {
  font-family: "Poppins", sans-serif;
  margin: 0 7rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.navbar div img {
  width: 90px;
}
.line {
  border: 1px solid #646464;
  height: 40px;
  margin: 0 3rem;
}

.list {
  display: flex;
  justify-content: flex-start;
  color: #f9f9f9;
  list-style-type: none;
}
.list-item {
  margin-right: 3.5rem;
}
.button-small {
  position: absolute;
  right: 7rem;
  top: 1.2rem;
  background-color: #ba0cc5;
  padding: 0.7rem 1.2rem;
  border: none;
  color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.list-item:first-child:after {
  content: ">";
  display: inline-block;
  padding: 0 7px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
section:last-child {
  background: url("./assets/bg.png") no-repeat center center/cover;
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  color: white;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.hero-heading {
  font-size: 4rem;
}
.hero-description {
  font-size: 1.5rem;
  font-weight: 200;
}
.button-large {
  background-color: #ba0cc5;
  color: white;
  font-size: 2rem;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-top: 2rem;
}
